/*
Seth Tal
*/


  /* ABOUT PROPERTIES */
/* ========================================================================== */

#about-container {
  margin: 0em 5em 1em 5em;
  padding-top: 10em;

  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-row-gap: 5em;
}

  /* Special Profile and text divs */
/* ================================== */
#profile {
  grid-column-start: span 1;
  justify-self: end;
}

#profile img {
  width: auto;
  height: 100px;
  float: left;
}

#profile p {
  text-align: left;

  font-size: 2em;
  font-family: "Noto Sans";
}

#profile-text {
  display: table;
  margin-left: 1em;
  grid-column-start: span 2;

  justify-self: center;

  text-align: left;
}

#profile-text table {
  margin: 0;

  border-spacing: 10px;
}

#profile-text table th {
  width: 25%;

  text-align: center;
  padding: 5px;
  border-bottom: 3px solid #A3A8B1;
  border-right: 3px solid #A3A8B1;

  font-size: 2.25em;
}

#profile-text table td {
  width: 25%;

  text-align: center;
  border: none;
  border-bottom: 3px solid #AA605C;
  border-radius: 0 0 0 0;

  font-size: 1.5em;
}

#profile-text table td:nth-child(3) {
  border-bottom: none !important;
}

#profile-text table td:nth-child(4) {
  border-bottom: none !important;
}

#profile-text table * {
  border-radius: 0.25em 0.25em 0.25em 0.25em;

  text-align: center;
  font-family: "Noto Sans";
}

#proficiency {
  font-size: 2em;
}

.proficiency {
  border-bottom: none !important;
}

#projects-link {
  padding-top: 1.25em;

  font-size: 3em;
  font-family: "Noto Sans";
  text-align: center;
}

  /* Showcase Divs */
/* ================================== */
.showcase {
  height: 350px;

  background: grey;
  grid-column-start: span 1;
}

.showcaseText {
  background: lightgrey;
  grid-column-start: span 2;
}

.showcase:nth-of-type(even) {
  margin-left: 1em;
}

.showcaseText:nth-of-type(even) {
  margin-left: 1em;
}


  /* MEDIA QUERIES */
/* ========================================================================== */

@media only screen and (max-width: 1000px) {
  #about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 10em 0 0 0;
  }

  #about-container .showcase {
    margin: 3em 0 3em 0;
  }

  #about-container .showcaseText:nth-child(odd) {
    margin: 3em 0 0em 0;
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #profile img {
    width: 100px;
    display: none;
  }

  #profile-text {
    margin-left: 0;
  }

  #profile-text table {
    margin: auto;
    width: inherit !important;

  }

  #profile-text table td:nth-child(even) {
    border-left: 3px solid #AA605C;
    border-bottom: none;
  }

  .showcase:nth-of-type(even) {
    margin-left: 0;
  }

  .showcaseText:nth-of-type(even) {
    margin-left: 0;
  }
}
