/*
COLORS:
Gainsboro:                #DCDCDD
Lavender Grey:            #C5C3C6
Outer Space:              #46494C
Deep Space Sparkle:       #4C5C68
CG Blue:                  #1985A1
Light Greyish:            #cccccc
Dark Grey Background:     rgba(70, 73, 77, 0.8)
*/

/* Header */

#header-container {
  height: 100vh;
  background-color: #C5C3C6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #e4e4e4;
  overflow: hidden;
}

#logo {
  margin: 10% auto 0 auto;
  width: 115px;
  transition: 0.3s;
}

#header-title:hover{cursor: default; color: #ffffff;}
#header-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poiret One";
  font-size: 32px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.80);
  transition: 0.3s;
}

#menu-icon {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.60);
  transition: 0.5s;
  border: 2px solid #999999;
  border-radius: 2em 2em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.60);
}

#menu-icon h3 {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
}

#menu-icon:hover {
  cursor: pointer;
  color: #ffffff;
  background: rgba(153, 153, 153, 0.8);
  border-color: #ffffff;
}

.highlight:hover {color: #fff;}
.highlight {
  width: inherit;
  height: inherit;
  color: #C5C3C6;
  transition: 0.3s;
}

#menu-nav {
  height: 0vh;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.60);
  background: #C5C3C6;
  transition: 0.5s;
}

#menu-nav ul {
  margin: auto 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-family: "Noto Sans";
  color: #ffffff;
}

#menu-close:hover {color: #cccccc;}
#menu-close {
  padding: 0 10px;
  float: left;
  width: 2px;
  height: 0;
  cursor: pointer;
  font-size: 1.5em;
  transition: 0.3s;
  display: inline-block;
}

.menuButton:hover{
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
  background: rgba(153, 153, 153, 0.8);
  transition: 0.3s;
}

.menuButton {
  margin: 0 5px;
  border: 2px solid #999999;
  border-radius: 1em 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.60);
  float: left;
  padding: 0 10px;
  transition: 0.3s;
}

.pageLink {
  color: inherit;
  text-decoration: none;
}


/* MEDIA QUERIES */

@media (min-width: 400px) {

  /* Header */
  #header-title {
    font-size: 36px;
  }

  /* Nav Menu */
  #menu-nav ul li {
    padding: 3px 15px;
  }

}

@media (min-width: 500px) {

  /* Header */
  #header-container {
    background-image: url("../images/banner-03.png");
    background-size: cover;
    color: #46494C;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
  }

  #header-title {
    font-size: 45px;
  }

  #logo {
    width: 150px;
  }

  #menu-icon {
    border: 2px solid #46494C;
    border-radius: 2em 2em;
    font-size: 18px;
  }

  #menu-icon:hover {
    border: 2px solid #303234;
    border-radius: 2em 2em;
    background-color: rgba(70, 73, 77, 0.8);
    color: #cccccc;
  }

  /* Navbar */

  .highlight {color: #1985A1;}

  #menu-nav {
    background: rgba(227, 227, 227, 0.8);
    font-size: 16px;
  }

  #menu-nav ul li:hover {color: #cccccc;}
  #menu-nav ul li {
    padding: 5px 25px;
    border-color: #46494C;
    color: #46494C;
  }

  .menuButton:hover {background-color: rgba(70, 73, 77, 0.8);}
  .menuButton {
    padding: 0 25px;
    margin: 0 1em;
  }

}

@media (min-width: 1000px) {

  #header-title{
    font-size: 64px;
  }

  #menu-icon {
    font-size: 20px;
    width: 300px;
    height: 75px;
  }

  /* Navbar */
  #menu-nav {
    font-size: 18px;
  }

  #menu-nav ul li {
    padding: 6px 30px;
  }

  .menuButton {
    margin: 0 3.5em;
  }

}
