/*
Seth Tal
*/

  /* GLOBAL ATTRIBUTES */
/* ========================================================================== */
* {
  margin: 0;
  padding: 0;
  transition: 250ms ease-in-out;
  font-family: "Poiret One";
  color: #444452;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {

  background: #FBFBFB;
  scroll-behavior: smooth;
}
