/* 
* Seth Tal
* 05/06/2020
* Scrollbar styling
*/

#projects::-webkit-scrollbar {
    background: #ededed0F;
    border-radius: 1em;
    /* display: none; */
}

#projects::-webkit-scrollbar-button {
    background: #12121200;
    display: none;
}

#projects::-webkit-scrollbar-corner {
    background: #12121200;
    opacity: 0;
    display: none;
}

#projects::-webkit-scrollbar-thumb {
    background: rgba(237, 237, 237, 0.5);
    /* border: 5px solid transparent; */
    border-radius: 1em;
    background-clip: content-box;
}

#projects::-webkit-scrollbar-track {
    background: #12122100;
}

#projects::-webkit-scrollbar-track-piece {
    background: #12121200;
}

#projects::-webkit-resizer {
    background: #12121200;
    display: none;
}