/*
Seth Tal
11/05/19
Custom Table Design to display formal content in a readable mannor...
*/

/* .container {
  width: 800px;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5em auto auto auto;

  border: 5px solid green;
} */

/* .container * {
  transition: 250ms ease-in-out;
  font-family: "Noto Sans";
  text-align: center;
} */

#table-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);

  border: 3px solid black;
}

#table-container * {
  font-family: "Noto Sans";
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableHead {

  border: 2px solid red;
}

.tableCell {

  border: 2px solid blue;
}
